<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkbox</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/02-Checkbox.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <ul>
          <li v-for="tag in courseslist.tags" :key="tag.tag">
            <!-- 用 array 綁定 checkbox 可以取得已選取值的陣列 -->
            <input type="checkbox"
              :id="tag.tag"
              :value="tag.tag"
              v-model="courseslist.selectedTags"/>
            <label :for="tag.tag">{{ tag.tag }}</label>
          </li>
        </ul>
        <a class="btn" @click="handSubmit">送出</a>
      </div>
    </div>
    <script src="./js/vue.js"></script>
    <script>
      const { reactive } = Vue;
      const App = {
        setup() {
          const courseslist = reactive({
            selectedTags: [],
            tags: [
              { tag: "JavaScript" },
              { tag: "Html" },
              { tag: "Css" },
              { tag: "Html5" },
              { tag: "Vuejs" },
              { tag: "React" },
              { tag: "Sass" },
              { tag: "Css3" },
              { tag: "Canvas" },
            ],
          });

          const handSubmit = () => {
            console.log(courseslist.selectedTags);
          }
          return { courseslist, handSubmit };
        },
      };

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
